<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.JIRA_USER}</username>
            <password>${env.JIRA_PASSWORD}</password>
        </server>

        <server>
            <id>${env.GPG_KEYNAME}</id>
            <passphrase>${env.GPG_PASSPHRASE}</passphrase>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
            </properties>
        </profile>
    </profiles>

</settings>
